
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
.text-light-gray{
  color: #727272;

}
.btn-primary{
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  font-size: 1.25rem;
  color: #fff;
  border: 0;
  margin: 20px;
}
header{
background-color: rgba(255, 144, 14, 0.14);
padding: 50px 240px;
}
.nav-title{
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {

  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a{
  text-decoration: none;
  color: #424242;
}
/* banner styles */
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banner img{
  margin-top: 20px;
  width: 100%;
}
/* mobile devices
@media screen and (max-width:576px) {
  header{
    padding: 20px;
  }
  nav{
    flex-direction: column;
  } */
  .facts-cards-container{
    border-radius: 8px;
    border: 1px solid#ff900e;
    display: flex;
    justify-content: space-around;
  }
  .facts-cards-container .card {
    border-radius: 8px;
   border: 1px solid #ff900e;
   text-align: center;
  }
  main{
    max-width: 1440px;
    margin: 70px auto;
  }
  .teams-container{
  display: flex;
  align-items: center;
  }
  .team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
  }
  .teams-content{
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .teams-title{
    font-size: 2.8rem;
  }
.teams-title .quick-list{
  color: #727272;
  font-weight: 500;
}
.teams-title .text-feature{
  color: #ff900e;
  font-weight: 700;
}

  

/* tablet or medium devices
@media screen  and (min-width:576px) and (max-width:960px){
  header{
   padding: 50px;
  }
  nav{
    flex-direction: column;
  }
  
} */

 /* mobile devices */
@media screen and (max-width:576px) {
  header{
    padding: 20px;
  }
  nav,.teams-container
  {
    flex-direction: column;
  }
.team-img-container{
  grid-template-columns: 1fr;
}}
   /* tablet or medium devices */
@media screen  and (min-width:576px) and (max-width:960px){
  header{
   padding: 50px;
  }
  nav, .teams-container
  {
    flex-direction: column;
  }
  
} 